<div class="search-bar">
    <div class="container">
        <form action="/search" class="search-form" role="search" method="post">
            <input type="search" id="search-input" aria-label="Search" name="search" placeholder="Search here"/>
        </form>
        <div id="search-close">
            Close
        </div>
    </div>
</div>